body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex-grow: 1; /* This will make the main content grow to fill the available space */
}

.rectangle-with-shadow {
    width: auto; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-color: #A2ABB5; /* Adjust background color as needed */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* Add shadow effect */
    border-radius: 20px;
  }